node_modules/

.env
.env.*

/artifacts/
/cache/

/typechain/
/typechain-types/

/coverage/
/coverage.json

ignition/deployments/
/ignition/deployments/chain-31337/

.vscode/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
tmp/

*.tsbuildinfo
